<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>充流量</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
</head>
<body style="background:#f3f3f3">
    <div id="change">
        <div class="change_top">
            <div class="change_top_num">
                <div class="fr num_close" v-show="fillIn" @click="cancleNum">
                    <img src="image/close.png" alt="">
                </div>
                <div class="num_input" @input="telNum">
                    <input type="text" placeholder="请输入手机号码(移动、联通、电信均支持!)" v-model="tel" @blur="telBlur">
                </div>
                <div class="clear"></div>
            </div>
            <p class="change_top_addre" v-cloak>{{provice}}{{city}} <span class="num_ower">{{numOwer}}</span></p>
        </div>
        <div class="change_middle">
            <p class="change_middle_title">全国可用,即时生效!</p>
            <ul class="change_middle_choose">
                <li v-cloak v-for="(item,index) in chooseList" @click="chooseRechange(index)">
                    <div class="choose_classify" :class="{bgColor:item.checked}">
                        <p v-cloak>{{item.classify}}M</p>
                        <p v-cloak>售价{{item.money}}元</p>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="change_middle_money">
                <p v-cloak>{{nowPrice}}元 <span class="choose_special" v-cloak>原价:{{prePrice}}元</span></p>
                <p><span class="choose_range" v-cloak>{{range}}</span>全国流量,即时生效,月底失效</p>
            </div>
        </div>
        <div class="change_btn">
            <button>支付</button>
        </div>
    </div>
</body>
</html>
<script src="js/change.js"></script>